PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=

VITE_APP_NAME=PACIFIK
VITE_PUSHER_APP_KEY=
VITE_PUSHER_HOST=
VITE_PUSHER_PORT=443
VITE_PUSHER_SCHEME=https
VITE_PUSHER_APP_CLUSTER=

VITE_SERVER_IP=192.168.1.67
VITE_LARAVEL_API_URL=http://192.168.1.67:8030
VITE_LARAVEL_MEDIA_URL=http://192.168.1.67:8030